.button {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    background: #3761E9;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
        background: #2a49b1;
    }
}