.select {
    width: 100%;
    max-width: 260px;
    position: relative;

    &__main {
        background: #EBECF0;
        border-radius: 8px;
        color: #6D6D6D;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        height: 40px;
        width: 100%;
        padding-left: 24px;
        padding-right: 16px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        gap: 12px;
    }

    &__dropdown {
        background: #EBECF0;
        border-radius: 8px;
        color: #6D6D6D;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 6px 8px;
        gap: 4px;
        position: absolute;
        bottom: -4px;
        transform: translateY(100%);
        
        animation: fadeIn 0.4s ease 1 forwards;
    }

    &__dropdownItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 8px 2px 16px;

        &:hover {
            background: #D9E4EB;
            border-radius: 4px;
            cursor: pointer;

            .select__dropdownItemStar {
                background-image: url(/images/star-default.svg);

                &:hover {
                    background-image: url(/images/star-hover.svg);
                }
            }
        }
    }

    &__mainImg {
        width: 16px;
        height: 16px;
        transition: all ease 0.3s;

        &_active {
            transform: rotateZ(180deg);
        }
    }

    &__dropdownItemStar {
        width: 16px;
        height: 16px;
        background-color: transparent;
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
    }

    &__dropdownItemStar_active {
        background-image: url(/images/star-active.svg) !important;
    }

    &__mainInput{
        border: #e0e0e0 1px solid;
        outline: none !important;
        height: 70%;
        width: 100%;
        border-radius: 4px;
        padding: 0 8px;

        &::placeholder {
            color: #a6a6a6;
        }
    }
    
    &__dropdownNull {
        padding-left: 8px;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(100%);
    }
}