@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #F6F6FA;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
